.contents
  .top-header チャットグループが作成されました。
  .top-left-contents
    .left-top-content
    .left-bottom-content
  .right-contents
    .right-top-content
    .right-middle-content
    .right-bottom-content




