  @import "./reset";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.top-header{
  width: 100%;
  color: white;
  background-color: #38AEF0;
  text-align: center;
}

.top-left-contents {
  background-color: #253141
  height: 82px;
  width: 100%;
}

.left-top-content{
  height: 82px;
}

.left-bottom-content{
  height: calc(1000px - 82px);
  background-color: #2f3e51;
}

.right-contents{
  height: 1000px;
  width: calc(100vw - 300px);
  float: right;
}

.right-top-content{
  height: 82px;
}

.right-middle-content{
  background-color: #AAAAAA;
  height: calc(1000px - 82px - 90px);
}

.right-bottom-content{
  height: 90px;
  background-color: gray;

}






.header-left {
  background-color: pink;
  width: 300px;
  height: 100%;
}

.contents {
  background-color: gray;
  height: calc(100% - 180px);
  padding-top: 180px;
  width: 100%;
}

.left-content {
  background-color: red;
  height: 100%;
  width: 300px;
  float: left;
}

.contents-main {
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}

.footer {
  height: 60px;
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
}*/
